.card {
    background-color:beige;
    max-width: 200px;
    border: 1px solid black;
    border-radius: 2px;
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
    padding: 2px;
    display: inline-block;
}

.card img{
    width: 200px;
}

